# Likely to contain secrets
.env
.env.*
*.local

# Build artifacts
node_modules
.babel-cache
dist

# Runtime artifacts
*.tmp
*.log
*.db

# Editing artifacts
.vscode
.idea
*.swp
*~

# Allow project-specific vscode settings
!.vscode/tasks.json

# System artifacts
.DS_Store
Thumbs.db

# Testing SDK
.yalc
yalc.lock
