ignore-scripts=true
block-exotic-subdeps=true
minimum-release-age=1440
minimum-release-age-exclude[]=@matterway/*
trust-policy=no-downgrade

public-hoist-pattern[]=@matterway/background-react
@matterway:registry=https://registry.matterway.io
