name: Test build

on:
  pull_request:
    branches: [ "*" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup npm registry
        uses: ./.github/actions/npm-registry-setup
        with:
          token: ${{ secrets.PRIVATE_PACKAGE_REGISTRY_TOKEN }}
    
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org/'

      - name: Install dependencies
        run: yarn

      - name: Build
        run: yarn build
