name: Lint

on: [pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Setup npm registry
        uses: ./.github/actions/npm-registry-setup
        with:
          token: ${{ secrets.PRIVATE_PACKAGE_REGISTRY_TOKEN }}

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 18

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Update linter
        run: yarn upgrade @matterway/eslint-plugin --latest

      - name: Run linter
        run: yarn lint --quiet
